html {
    overflow-x: hidden;
    background-color:  #1a2b43; /* Bluish background color */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .sw-nav {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .s-logo {
    max-width: 100%;
    height: auto;
    display: block;
  }
  

  // Apply styles for headings (Characters and Movie)
.charactr-txt, h2 {
    color: #F4D03F;  // Gold color for text
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    opacity: 0;
    animation: fadeIn 1.5s forwards, slideUp 1.5s forwards;
    margin: 20px 0;
  }
  

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  h2:nth-of-type(2) {
    animation-delay: 0.5s;
  }